AZURE_OPENAI_ENDPOINT="https://layaaos.cognitiveservices.azure.com/"
AZURE_OPENAI_KEY="DKUDyLkncgn1VtOAfJAA9wQdRAOrbQCD2bjLnme8dTlfElC5n1mLJQQJ99CDACYeBjFXJ3w3AAAAACOGNEId"
AZURE_OPENAI_DEPLOYMENT="CockRoach"
AZURE_OPENAI_MODEL="gpt-5.1-chat"
AZURE_OPENAI_VERSION="2024-12-01-preview"

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
